.button {
  color: rgb(216, 20, 20);
}

.label {
  color: rgb(14, 127, 227);
}

.text {
    display: inline-flex;        /* makes container shrink to fit content */
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(200, 232, 235);
  color: rgb(75, 91, 16);
  font-family: sans-serif;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 2px solid rgb(90, 43, 43);
  word-break: break-word;
  max-width: 100%;
  margin-top: 0.5rem;
}
