.button {
  color: rgb(216, 20, 20);
}

.label {
  color: rgb(14, 127, 227);
}

.text {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: rgb(75, 91, 16);
  font-family: sans-serif;
  background-color: rgb(200, 232, 235);
  padding: 1%;
  border-radius: 8px;
  display: inline-block;
  border: 2px solid rgb(90, 43, 43);
  max-width: fit-content;
  margin-top: 0.5rem;
}
