.text {
  color: rgb(75, 91, 16);
  font-family: sans-serif;
  background-color: rgb(235, 231, 200);
  padding: 1%;
  border-radius: 8px;
  border: 2px solid rgb(90, 43, 43);
  margin-top: 0.5rem;
    display: flex;        /* makes container shrink to fit content */
  flex-direction: column;
  padding: 0.5rem 1rem;
  word-break: break-word;
  max-width: 100%;
 
}
