
.text {
    color:rgb(75, 91, 16);
    font-family: sans-serif;
    background-color:rgb(235, 231, 200);
    padding: 1%;
    border-radius: 8px;
    display: inline-block;
    border: 2px solid rgb(90, 43, 43);
    margin-top: .5rem;
}



