.errorMessage {
  border: 4px red;
}

.LayoutWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
  max-width: fit-content;
}
